@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kumbh sans', sans-serif;
}

body {
  background: #19a2ae;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-width: 375px;
}

body::after, body::before {
  content: "";
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

body::after {
  background: url("../images/bg-pattern-top.svg") no-repeat top left;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body::before {
  background: url("../images/bg-pattern-bottom.svg") no-repeat bottom right;
  -webkit-transform: translate(0%, 60%);
          transform: translate(0%, 60%);
}

.card {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-shadow: 0 0 20px #298793;
          box-shadow: 0 0 20px #298793;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  width: 90%;
  background: white;
  overflow: hidden;
}

.card header {
  width: 100%;
}

.card header .header-image {
  width: 100%;
}

.card main {
  text-align: center;
}

.card main .profile_picture {
  border-radius: 50%;
  width: 65%;
  outline: 8px white solid;
  margin-top: -4rem;
}

.card main .bio {
  margin-top: 2rem;
}

.card main .bio .name {
  color: #2d3248;
  font-weight: 700;
}

.card main .bio .name .age {
  margin-left: .7rem;
  color: #6a6f81;
  font-weight: 400;
}

.card main .bio .city {
  font-size: 1.2rem;
  margin: 1rem 0 1.5rem 0;
  color: #6a6f81;
  font-weight: 400;
}

.card footer {
  border-top: 1px #ebebeb solid;
  padding: 1.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card footer .media {
  text-align: center;
}

.card footer .media .stats {
  font-size: 1.5rem;
  color: #2d3248;
  font-weight: 700;
}

.card footer .media .info {
  font-size: .75rem;
  letter-spacing: 2px;
  color: #6a6f81;
  font-weight: 400;
}

@media screen and (min-width: 700px) {
  .card {
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  body::after {
    background: url("../images/bg-pattern-top.svg") no-repeat top left;
    top: 0;
    left: 0;
    -webkit-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
  }
  body::before {
    background: url("../images/bg-pattern-bottom.svg") no-repeat bottom right;
    -webkit-transform: translate(20%, 50%);
            transform: translate(20%, 50%);
  }
  .card {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */
